loader(ng-show="newPhaseRowCtrl.loading")

form.flex.middle(name="phase_row")
  input.name(type="text" 
             ng-class="{error: newPhaseRowCtrl.nameError && !newPhaseRowCtrl.name.length}" 
             placeholder="Name Phase" 
             ng-change="newPhaseRowCtrl.validateField('name')"
             ng-model="newPhaseRowCtrl.phase.name")

  date-input(place-holder="Start Date"
             date="newPhaseRowCtrl.phase.startDate")

  date-input(place-holder="Due Date"
             date="newPhaseRowCtrl.phase.dueDate")

  date-input(place-holder="End Date"
             date="newPhaseRowCtrl.phase.endDate")
  {{newPhaseRowCtrl.types}}
  dropdown(options="newPhaseRowCtrl.types" 
           on-change="newPhaseRowCtrl.onTypeChange" 
           value="newPhaseRowCtrl.phase.type")

  select(ng-model="newPhaseRowCtrl.phase.type" 
         ng-options="type.value as type.name for type in newPhaseRowCtrl.types"
         required)

  select(ng-model="newPhaseRowCtrl.phase.status"
         ng-options="status.value as status.name for status in newPhaseRowCtrl.statuses"
         required)

  button.clean(ng-click="newPhaseRowCtrl.save()")
    .icon.plus.hollow
