loader(ng-show="vm.loading")
{{vm}}
form.flex.middle(name="phase_row")
  input.name(type="text" 
             ng-disabled="true"
             ng-class="{error: vm.nameError && !vm.name.length}" 
             placeholder="Name Phase" 
             ng-change="vm.validateField('name')"
             ng-model="vm.phase.name")

  date-input(place-holder="Start Date"
             date="vm.phase.startDate")

  date-input(place-holder="Due Date"
             date="vm.phase.dueDate")

  date-input(place-holder="End Date"
             date="vm.phase.endDate")

  dropdown(options="vm.types" 
           clearable="false"
           placeholder="Phase [Type]"
           on-change="vm.onTypeChange" 
           value="vm.phase.stepType")

  dropdown(options="vm.statuses"
           clearable="false" 
           disabled="vm.isInProgress()"
           placeholder="Status"
           on-change="vm.onStatusChange"
           value="vm.phase.status")

  button.clean(ng-hide="vm.isInProgress()" 
               ng-click="vm.remove()")
    .icon.hollow.minus
