loader(ng-show="phaseRowCtrl.loading")
{{phaseRowCtrl}}
form.flex.middle(name="phase_row")
  input.name(type="text" 
             ng-class="{error: phaseRowCtrl.nameError && !phaseRowCtrl.name.length}" 
             placeholder="Name Phase" 
             ng-change="phaseRowCtrl.validateField('name')"
             ng-model="phaseRowCtrl.phase.name")

  date-input(place-holder="Start Date"
             date="phaseRowCtrl.phase.startDate")

  date-input(place-holder="Due Date"
             date="phaseRowCtrl.phase.dueDate")

  date-input(place-holder="End Date"
             date="phaseRowCtrl.phase.endDate")

  select(ng-model="phaseRowCtrl.phase.type" 
         ng-options="type.value as type.name for type in phaseRowCtrl.types"
         required)

  select(ng-model="phaseRowCtrl.phase.status"
         ng-options="status.value as status.name for status in phaseRowCtrl.statuses"
         required)

  button.clean(ng-class='{"hollow":phaseRowCtrl.deleteCandidate===1}' 
                ng-hide="phaseRowCtrl.isInProgress()" 
                ng-click="phaseRowCtrl.remove()")
    .icon.minus
